.hide {
  display: none;
}

@media screen and (max-width: 375px) {
  body {
    font-family: 'Roboto', sans-serif;
  }

  header {
    font-size: 25px;
  }

  .new-roster-modal {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
  }

  .modal-form {
    padding: 1rem;
    margin: auto;
    background-color: white;
    font-size: 20px;
  }

  .submit-roster-button-container {
    text-align: center;
    margin-top: 10px;
  }

  .roster-button {
    width: 100px;
    height: 30px;
    border-style: none;
    border-radius: 15px;
    background-color: rgba(13, 226, 255, 0.6);
    font-size: 20px;
  }

  .roster-list-row {
    color: white;
    display: flex;
    width: 100%;
  }

  .column-half {
    width: 50%;
    text-align: center;
  }

  .screen-phone {
    display: flex;
    height: 50px;
  }

  .display-flex {
    display: flex;
  }

  .flex-jc-center {
    justify-content: center;
  }

  .flex-ai-center {
    align-items: center;
  }

  .hp-position-config {
    position: absolute;
    left: 50%;
    margin-left: -100px;
  }

  .see-through {
    background-color: rgba(13, 226, 255, 0.15);
  }

  .homepage-bg {
    background: url(../images/homepage-bg.jpg);
  }

  .list-bg {
    background: url(../images/list-bg.png);
  }

  .background-config {
    background-repeat: no-repeat;
    background-size: cover;
    height: 667px;
  }

  .servant-roster-button {
    bottom: 30%;
  }

  .np-dmg-button {
    bottom: 20%;
  }

  .new-roster-button {
    margin: 25px auto;
  }

  .view-list-content-button {
    margin-right: 10px;
  }

  .view-list-content-button,
  .delete-list-button {
    background-color: rgba(13, 226, 255, 0.6);
    border-radius: 10px;
    width: 60px;
  }

  .homepage-button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: rgba(13, 226, 255, 0.6);
  }

  .hide {
    display: none;
  }
}
